/* SCECTION PRICING */


.section-6{
    padding: 9.6rem;
}

.diet-list-items{
     line-height: 1.8; 
}


/* PRICING-TAG-1 */

.pricing-plan--starter{
     justify-self:end; 
     border:2px solid #fdf2e9;
     padding:4.6rem;
   
}

  .grid{
    gap: 6.2rem;
} 

.pricing-plan{
     border-radius:11px; 
     width: 75%;
    }


.pricing-plan-header{
    text-align: center;
    margin-bottom: 4.8rem;  
}


.pricing-1{
    color: #cf711f;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.75;
    margin-bottom: 3.2rem;
}

.price{
    font-size:6.2rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
    color: #333;
}

.per-month{
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #767676;
}

.price span{
    font-size: 3rem;
    margin-right: 0.8rem;
    font-weight: 500;
}

/* PRICING TAG 2 */

.pricing-plan--complete{
    position: relative; 
    overflow: hidden;
    border:2px solid #fdf2e9;
    padding: 4.8rem;
    border-radius:1.2rem;
} 

.pricing-plan--complete::after{
    content:"Best value";
    position: absolute;
    top: 6%;
    right:-18%;

    font-size: 1.4rem;
    text-transform: uppercase;
    background-color: #ffd43b;
    font-weight: 700;
    color:#333 ;
    padding: 0.8rem 8rem;
    transform: rotate(45deg);
}
.price-description{
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
}

.btn-price-tag{
    text-align: center;
    margin-top: 4.2rem;
   
} 

/* ICON*/


.feature-icon{
    height: 3.2rem;
    width: 3.2rem;
    color: #e67e22;
    background-color: #fdf2e9;
    padding: 1.6rem;
    border-radius: 50%;
    margin-bottom: 3.2rem;
} 

.feature-title{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
    color: #333;
}

.feature-text{
    font-size: 1.8rem;
    line-height: 1.8;
}
.price-description{
    margin-bottom: 9.6rem;
}