/* SECTION 5 */

/* COUSTAMER COMMENT */

.section-5{
    display: grid;
    grid-template-columns: 55fr 45fr;
    background-color: #fdf2e9;
    align-items: center;
}

.testimonials{
    padding: 9.6rem; 
   
}

.coustamers{
    display: grid;
    grid-template-columns:1fr 1fr;
     row-gap: 4.8rem;
     column-gap: 8rem;
    
}

.coustamer-comment{
  font-size:1.8rem ;  
  line-height: 1.8;
   margin-bottom: 1.2rem; 
}

.coustamer-img{
    border-radius: 50%;
    width: 6.4rem;
    margin-bottom: 1.4rem;
}

.coustamer-name{
    font-size: 1.6rem;
    color: #6f6f6f;
} 

/* GALLERY */

  .gallery{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 1.6rem; 
    padding: 1.6rem; 
    
  } 

.gallery-item img{
     display: block; 
      width: 100%;   
      transition:all  0.4s; 
} 
 

.gallery-item{
    overflow: hidden;
}

.gallery-item img:hover{
  transform: scale(1.1);
}
