
/* SECTION 2 */

/*
        SPACING SYSTEM (px)
         2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
         FONT SIZE SYSTEM (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
     */        



     *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .container{
        max-width: 120rem;
        padding: 0 3.2rem;
        margin: 0 auto;
    }
    
    .grid{
        display: grid;
        gap: 9.6rem;
    }
    
    .grid--2-cols {
        grid-template-columns: repeat(2, 1fr);
      }
      
      .grid--3-cols {
        grid-template-columns: repeat(3, 1fr);
      }
      
      .grid--4-cols {
        grid-template-columns: repeat(4, 1fr);
      }
      

      .grid--cols-v{
        align-items: center;
      }
    
    body{
        font-family:"rubik", sans-serif;
        line-height: 1;
        font-weight: 400;
        color: #555;
    }
    
    
    .section-hero{
      padding: 6.6rem 5rem; 
     background-color: #fdf2e9;
    }
    
    html{
         font-size: 62.5%; 
    }
    
    .omnifood-nav{
        background-color: #fdf2e9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.2rem 5rem; 
    }
    
    
    .nav-bar-list{
        display: flex;
        align-items: center ;
        list-style-type: none;
         gap: 3.2rem; 
    } 
    
    .main-nav:link,
    .main-nav:visited{
        display: inline-block;
        text-decoration: none;
        color: #555;
        font-size: 1.8rem;
        font-weight: 500;
        transition: all 0.3s;
    }
     .main-nav.btn--b:link, 
     .main-nav.btn--b:visited{
        padding:1.2rem 2.2rem;
        background-color: #e67e22;
        color: #fff;
        border-radius: 9px;
      }
    
        .main-nav:hover,
        .main-nav:active{
         color: #e67e22;     
      }
    
    .main-nav.btn--b:hover,
    .main-nav.btn--b:active{
     background-color: #cf711f;
    }
    
    .omnifood-nav img{
        height: 2.2rem;
    }
    
    .hero{
        max-width: 130rem;
        margin: 0 auto; 
        /* display: grid;
        grid-template-columns: 1fr 1fr; */
        display: flex;
        align-items: center;
        gap: 9.6rem;
    }
    
    .hero img{
        width: 100%;
    }
    
    .primary{
        font-size: 5.2rem;
        font-weight: 700;
        line-height: 1.05;
         letter-spacing: -0.15px;
        margin-bottom: 3.2rem;
        color: #333;
    }
    
    .hero-decription{
        font-size: 1.9rem;
        line-height:3rem;
        margin-bottom: 5.2rem;
        font-weight: 400;
    }
    
    .btn:link,
     .btn:visited{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        padding: 1.6rem 3.2rem;
        border-radius: 8px;
        font-size: 2rem;
        font-weight: bold;
        transition:all 0.3s ;
    }
    
    .btn--1:link,
    .btn--1:visited{
        background-color: #e67e22;
    }
    
    .btn--1:hover,
    .btn--1:active{
        background: #cf711f;
    }
    
    .btn--2:link,
    .btn--2:visited{
        background: #fff;
        color: #555;
    }
    
    .btn--2:hover,
    .btn--2:active{
        background-color: #fdf2e9;
         /* border:3px solid #fff;  */
         box-shadow: inset 0px 0px 0px 3px #fff;
    } 
    
    .margin-right-sm{
        margin-right: 1.6rem !important;
    }
    
    .coustamer-delevery{
        display: flex;
        align-items: center;
        gap: 1.6rem;
        margin-top: 6.4rem;
    }
    
    .coustamer-imgs{
        display: flex;
        align-items: center;
    }
    
    .coustamer-imgs img:last-child{
        margin: 0;
    }
    
    .coustamer-imgs img{
        width:4rem;
        width:4rem;
        border-radius: 50%;
        margin-right: -1.6rem;
        border: 3px solid #fdf2e9;
    }
    
    
    .delevery-text{
        font-size: 1.8rem;
        font-weight: 600;
        color: #555;
    }
    
    strong{
        color:  #e67e22;
    }