 .section-7{
    padding: 4.8rem 0 12.8rem;
}  

.cta *:focus{
    outline: none;
     /* outline: 4px solid #e67e22;
    outline-offset: 8px;  */
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.55);
}

.cta{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background-color: #e67e22; */
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.15);
    border-radius: 1.1rem;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    overflow: hidden;
}

.cta-text{
    padding:4.2rem 6.4rem 6.4rem 6.4rem;
    color: #45260a;
   
}

.cta .head-2{
    color: #45260a;
     margin-bottom: 3.2rem; 
   
}

.cta-text-p{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}


.cta-img {
    background-image:linear-gradient(to right bottom, rgba(235, 151, 78, 0.3), rgba(231, 127, 35, 0.3)), url("../img/eating.jpg");
    background-size: cover;
    background-position: center;
}

 .cta-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.2rem;
    row-gap: 4.2rem;
 }

.cta-form label{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}
.cta-form input{
    width: 100%;
      padding: 1.2rem;
      font-size: 1.8rem;
      border-radius: 1.2rem;
      border: none;
      font-family: inherit;
      color: inherit;
      box-shadow: 0 1px 2px rgb(0,0,0,0.5);
    }

    .cta-form input::placeholder{
        color: #aaa;
    }
    
.cta-form select{
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    border-radius: 1.2rem;
    border: none;
    font-family: inherit;
    color: inherit;
    box-shadow: 0 1px 2px rgb(0,0,0,0.5);
}
.cta-form button{
    /* font-family: inherit; */
    border-radius: 1.2rem;
    border: none;
    font-size: 2rem;
    background-color:#45260a ;
    color: #fdf2e9;
    transition: all 0.3s;
    font-weight: 600;
    cursor: pointer;
    font-family: inherit;
   
}

.btn--form{
    align-self: end;
    padding: 1.2rem;
}

.button:hover{
    background-color:#fff;
    color: #333;
    
}