 /* SECTION 2 */

.section-3{
    padding: 9.6rem 0;
}

.container{
    letter-spacing: -1.05;
    color: #333;
}

.step-img{
   width: 35%;
}

.sample-heading{
    display: block;
    color: #cf711f;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
}

.head-2{
    font-size: 4.4rem;
   margin-bottom: 9.6rem;
}

.step-img-box{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.step-img-box::before{
    content: "";
    display: block;
    width: 60%;

    padding-bottom: 60%;
    background-color: #fdf2e9;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.step-img-box::after{
    content: "";
    display: block;
    width: 45%;

    padding-bottom: 45%;
    background-color: #fae5d3;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.step-number{
    font-size: 8.6rem;
    font-weight: 600;
    color:#eee ;
    line-height: 1.2;
}

.step-heading{
    font-size: 3rem;
    line-height:1.2;
    margin-bottom: 3.2rem;
}

.step-description{
    line-height: 1.6;
    font-size: 1.8rem;
    font-weight: 400;
    color: #555;
}